In [4]:
import pandas as pd
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file(filename="C:/Users/hfeli/OneDrive/Documents/Cursos/DataEngineering/Projects/de-zoomcamp-project-important-files/de-zoomcamp-project-hfelipini-a9d06ac71bcd.json",
                                                                    scopes=["https://www.googleapis.com/auth/cloud-platform"])
"""Create Partitioned table for optimization"""
query = '''
    SELECT
        DISTINCT(ID), *
    FROM `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned`
    WHERE DateTime = "2023-04-25 15:12:00+00:00"
    ORDER BY Ticker ASC, DateTime DESC
'''

In [5]:
query_result = pd.read_gbq(credentials=credentials, query=query)

In [7]:

print(len(query_result))
print(query_result.head(10))

89
                          ID                       ID_1  \
0  2023.04.25 15:12:00-ABEV3  2023.04.25 15:12:00-ABEV3
1  2023.04.25 15:12:00-ALPA4  2023.04.25 15:12:00-ALPA4
2  2023.04.25 15:12:00-ALSO3  2023.04.25 15:12:00-ALSO3
3  2023.04.25 15:12:00-ARZZ3  2023.04.25 15:12:00-ARZZ3
4  2023.04.25 15:12:00-ASAI3  2023.04.25 15:12:00-ASAI3
5  2023.04.25 15:12:00-AZUL4  2023.04.25 15:12:00-AZUL4
6  2023.04.25 15:12:00-B3SA3  2023.04.25 15:12:00-B3SA3
7  2023.04.25 15:12:00-BBAS3  2023.04.25 15:12:00-BBAS3
8  2023.04.25 15:12:00-BBDC3  2023.04.25 15:12:00-BBDC3
9  2023.04.25 15:12:00-BBDC4  2023.04.25 15:12:00-BBDC4

                   DateTime Ticker   Open   High    Low  Close  RealVolume  \
0 2023-04-25 15:12:00+00:00  ABEV3  14.28  14.29  14.28  14.28        4300
1 2023-04-25 15:12:00+00:00  ALPA4   6.96   6.98   6.96   6.98       19700
2 2023-04-25 15:12:00+00:00  ALSO3  17.80  17.81  17.78  17.79        8500
3 2023-04-25 15:12:00+00:00  ARZZ3  62.86  62.90  62.86  62.87        1200
4 2023-04-25 15:12:00+00:00  ASAI3  12.26  12.27  12.26  12.27        6900
5 2023-04-25 15:12:00+00:00  AZUL4  10.27  10.28  10.27  10.27       15100
6 2023-04-25 15:12:00+00:00  B3SA3  11.71  11.72  11.71  11.72       17300
7 2023-04-25 15:12:00+00:00  BBAS3  42.85  42.85  42.84  42.84        4500
8 2023-04-25 15:12:00+00:00  BBDC3  12.28  12.28  12.27  12.27        1800
9 2023-04-25 15:12:00+00:00  BBDC4  13.64  13.65  13.63  13.63       16100

   Spread  TickVolume
0       1          18
1       1          34
2       1          28
3       1          11
4       1          20
5       1          12
6       1          77
7       1          36
8       1           6
9       1          21

In [34]:
query = '''
    
    SELECT
        DISTINCT(A.ID), A.DateTime, A.Ticker, A.Close, B.Close, CAST(A.Close AS DECIMAL) / B.Close - 1 as Rate 
    FROM `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned` A, `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned` B
    --WHERE DateTime = "2023-04-25 15:12:00+00:00"
    WHERE A.Ticker = B.Ticker
    AND A.Dayframe = B.Dayframe
    AND A.Timeframe - 1 = B.Timeframe
    ORDER BY Ticker ASC, DateTime DESC
'''
query_result = pd.read_gbq(credentials=credentials, query=query)
print(len(query_result))
print(query_result.head(10))

172
                          ID                  DateTime Ticker  Close  Close_1  \
0  2023.04.25 16:27:00-ABEV3 2023-04-25 16:27:00+00:00  ABEV3  14.26    14.26
1  2023.04.25 16:26:00-ABEV3 2023-04-25 16:26:00+00:00  ABEV3  14.26    14.26
2  2023.04.25 16:27:00-ALPA4 2023-04-25 16:27:00+00:00  ALPA4   6.99     6.99
3  2023.04.25 16:26:00-ALPA4 2023-04-25 16:26:00+00:00  ALPA4   6.99     6.99
4  2023.04.25 16:27:00-ALSO3 2023-04-25 16:27:00+00:00  ALSO3  17.92    17.94
5  2023.04.25 16:26:00-ALSO3 2023-04-25 16:26:00+00:00  ALSO3  17.94    17.93
6  2023.04.25 16:27:00-ARZZ3 2023-04-25 16:27:00+00:00  ARZZ3  62.24    62.28
7  2023.04.25 16:26:00-ARZZ3 2023-04-25 16:26:00+00:00  ARZZ3  62.28    62.41
8  2023.04.25 16:27:00-ASAI3 2023-04-25 16:27:00+00:00  ASAI3  12.33    12.34
9  2023.04.25 16:26:00-ASAI3 2023-04-25 16:26:00+00:00  ASAI3  12.34    12.35

       Rate
0  0.000000
1  0.000000
2  0.000000
3  0.000000
4 -0.001115
5  0.000558
6 -0.000642
7 -0.002083
8 -0.000810
9 -0.000810

In [25]:
query = '''
    SELECT
        DISTINCT(A.ID), A.DateTime, A.Ticker, A.Close
    FROM `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned` A
    --WHERE DateTime = "2023-04-25 15:12:00+00:00"
    ORDER BY Ticker ASC, DateTime DESC
'''
query_result = pd.read_gbq(credentials=credentials, query=query)
print(len(query_result))
print(query_result.head(10))

267
                          ID                  DateTime Ticker  Close
0  2023.04.25 16:27:00-ABEV3 2023-04-25 16:27:00+00:00  ABEV3  14.26
1  2023.04.25 16:26:00-ABEV3 2023-04-25 16:26:00+00:00  ABEV3  14.26
2  2023.04.25 16:25:00-ABEV3 2023-04-25 16:25:00+00:00  ABEV3  14.26
3  2023.04.25 16:27:00-ALPA4 2023-04-25 16:27:00+00:00  ALPA4   6.99
4  2023.04.25 16:26:00-ALPA4 2023-04-25 16:26:00+00:00  ALPA4   6.99
5  2023.04.25 16:25:00-ALPA4 2023-04-25 16:25:00+00:00  ALPA4   6.99
6  2023.04.25 16:27:00-ALSO3 2023-04-25 16:27:00+00:00  ALSO3  17.92
7  2023.04.25 16:26:00-ALSO3 2023-04-25 16:26:00+00:00  ALSO3  17.94
8  2023.04.25 16:25:00-ALSO3 2023-04-25 16:25:00+00:00  ALSO3  17.93
9  2023.04.25 16:27:00-ARZZ3 2023-04-25 16:27:00+00:00  ARZZ3  62.24

In [32]:
query_result.to_csv("Extract2.csv")

In [28]:
import pandas as pd
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file(filename="C:/Users/hfeli/OneDrive/Documents/Cursos/DataEngineering/Projects/de-zoomcamp-project-important-files/de-zoomcamp-project-hfelipini-a9d06ac71bcd.json",
                                                                    scopes=["https://www.googleapis.com/auth/cloud-platform"])
query = '''

    CREATE OR REPLACE TABLE `de-zoomcamp-project-hfelipini.de_project_dataset.minute_rate`
    AS (
      SELECT
        DISTINCT(A.ID), A.DateTime, A.Ticker, A.Close, B.Close as ClosePrevious, CAST(A.Close AS DECIMAL) / B.Close - 1 as Rate, A.Timeframe, A.Dayframe
      FROM `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned` A, `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned` B
      --WHERE DateTime = "2023-04-25 15:12:00+00:00"
      WHERE A.Ticker = B.Ticker
      --AND A.Dayframe = B.Dayframe
      AND A.Timeframe - 1 = B.Timeframe
      AND A.Dayframe = (SELECT MAX(A.Dayframe) from `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned`)
      AND A.Timeframe = (SELECT MAX(A.Timeframe) from `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned` WHERE Dayframe = (SELECT MAX(Dayframe) from `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned`))
      --ORDER BY Ticker ASC, DateTime DESC
      ORDER BY Rate Desc
    );
'''
query_result = pd.read_gbq(credentials=credentials, query=query)
print(len(query_result))
print(query_result.head(10))

2939
                          ID                  DateTime Ticker  Close  \
0  2023.04.28 10:31:00-AZUL4 2023-04-28 10:31:00+00:00  AZUL4  10.53
1  2023.04.28 10:27:00-ALPA4 2023-04-28 10:27:00+00:00  ALPA4   7.42
2  2023.04.28 10:31:00-GOLL4 2023-04-28 10:31:00+00:00  GOLL4   6.33
3  2023.04.28 10:24:00-ALPA4 2023-04-28 10:24:00+00:00  ALPA4   7.38
4  2023.04.28 10:18:00-CASH3 2023-04-28 10:18:00+00:00  CASH3   0.83
5  2023.04.28 10:23:00-CASH3 2023-04-28 10:23:00+00:00  CASH3   0.83
6  2023.04.28 10:21:00-CASH3 2023-04-28 10:21:00+00:00  CASH3   0.83
7  2023.04.28 10:28:00-CASH3 2023-04-28 10:28:00+00:00  CASH3   0.83
8  2023.04.28 10:34:00-CASH3 2023-04-28 10:34:00+00:00  CASH3   0.84
9  2023.04.28 10:41:00-CASH3 2023-04-28 10:41:00+00:00  CASH3   0.84

   ClosePrevious      Rate  Timeframe  Dayframe
0          10.35  0.017391        631    738547
1           7.32  0.013661        627    738547
2           6.25  0.012800        631    738547
3           7.29  0.012346        624    738547
4           0.82  0.012195        618    738547
5           0.82  0.012195        623    738547
6           0.82  0.012195        621    738547
7           0.82  0.012195        628    738547
8           0.83  0.012048        634    738547
9           0.83  0.012048        641    738547

In [18]:
query = '''
    (
        SELECT ID, DateTime, Ticker, Close, Timeframe, Dayframe
        FROM `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned`
        WHERE Timeframe >= (SELECT MAX(Timeframe) from `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned`) - 1
        AND Dayframe = (SELECT MAX(Dayframe) from `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned`)
        ORDER BY Ticker ASC
    );
'''
query_result = pd.read_gbq(credentials=credentials, query=query)
print(len(query_result))
print(query_result.head(10))

0
Empty DataFrame
Columns: [ID, DateTime, Ticker, Close, Timeframe, Dayframe]
Index: []

In [26]:
query = '''
    (
        SELECT ID, Ticker, Close, Timeframe, Dayframe
        FROM `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned`
        WHERE Dayframe = (SELECT MAX(Dayframe) from `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned`)
        AND Timeframe = (SELECT MAX(Timeframe) from `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned` WHERE Dayframe = (SELECT MAX(Dayframe) from `de-zoomcamp-project-hfelipini.de_project_dataset.python_test_partitioned`))
        ORDER BY Ticker ASC
    );
'''
query_result = pd.read_gbq(credentials=credentials, query=query)
print(len(query_result))
print(query_result.head(10))

88
                          ID Ticker  Close  Timeframe  Dayframe
0  2023.04.28 10:50:00-ABEV3  ABEV3  14.04        650    738547
1  2023.04.28 10:50:00-ALPA4  ALPA4   7.50        650    738547
2  2023.04.28 10:50:00-ALSO3  ALSO3  18.33        650    738547
3  2023.04.28 10:50:00-ARZZ3  ARZZ3  64.20        650    738547
4  2023.04.28 10:50:00-ASAI3  ASAI3  12.13        650    738547
5  2023.04.28 10:50:00-AZUL4  AZUL4  10.41        650    738547
6  2023.04.28 10:50:00-B3SA3  B3SA3  11.43        650    738547
7  2023.04.28 10:50:00-BBAS3  BBAS3  42.50        650    738547
8  2023.04.28 10:50:00-BBDC3  BBDC3  12.18        650    738547
9  2023.04.28 10:50:00-BBDC4  BBDC4  13.63        650    738547